.vertical-container {
    background-color: salmon;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.horizontal-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.checkout-message {
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

