/* html { 
    height: 100% 
 }
 body { 
    margin: 0; 
    padding: 0; 
    height: 100% ;
 } */

 .cart-header {
    display: flex;
    justify-content: center;
    font-size: 34px;
    font-weight: bold;
    color: #02455e;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
 }
 .side-drawer { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    background: white;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    z-index: 200;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5); 
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    /* overflow-y: scroll; */
 }
 .open {
    transform: translateX(0);
 }

 .sub-total-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
 }

 .sub-total {
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #01435b;

 }

 .check-out {
    height: 45px;
    width: auto;
    width: 97%;
    /* padding: 1.5%; */
    padding-left: 10px;
    padding-right: 12px; 
    background-color: #006990;
    border-radius: 25px;
    color: #A3F3FF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 1%;
    margin-left: 1.5%;
 }

 .check-out:hover {
    cursor: pointer;
    background-color: #01435b;
 }
