.background-video-container {
   position: relative;
}

.video {
    position: absolute;
}

.button-container-vertical {
    margin-left: .75%;
    position: absolute;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 9;
}

.button-container-horizontal {
    margin-top: 18%;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-evenly;
    /* position: absolute; */
}
.index-navlink-button {
    /* font-weight: 200; */
    font-size: 18px;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #006990;
    /* color: #A3F3FF; */
    color: rgb(221, 236, 250);
    border-radius: 25px;
    padding: 12px;
    padding-left: 16px;
    padding-right: 18px;
    margin-right: 5%;
    margin-top: 2%;
}

.index-navlink-button:hover {
    cursor: pointer;
    background-color: #01435b;
}