.wrapping-top-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: .4%;
}

.logo {
    width: 200px;
    height: auto;
}


.center-home-button {
    margin-left: 50px;
}

.login-icon {
    width: 50%;
    height: auto;
}

.cart-icon {
    width: 50%;
    height: auto;
}

.cart-icon:hover {
    cursor: pointer;
}


.nav-list {
    list-style-type: none;
}

